/* AUTHOR : Jay Bhagat */
/* LAST MODIFIED : 20 August 2022 */
/* @mail : ad.jaybhagat@gmail.com */

* {
    font: 'Lato';
}

.row {
    display: flex;
}

nav,
tr:nth-child(even) {
    background-color: #f1f1f1;
}
button{
    color: blue;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
}

td {
    padding: 10px;
}

tr {
    padding: 5px;
    border-radius: 4px;
}

h3,
h5,
h4,
h6 {
    color: #fff;
}

.sidebar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 77vh;
    margin: 0;
    padding: 15px;
}

.album-wrapper {
    width: 100%;
    height: 100%;
}

.album-info {
    background-color: #454545;
    display: flex;
}

.album-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album-info-img {
    height: 200px;
    width: auto;
    padding: 20px;
}

.album-list {
    border-spacing: 0px;
    width: 100%;
    padding: 10px;
}

.footer {
    background-color: #43689b;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;
}

.footer-album-img {
    height: 80px;
    width: auto;
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

body {
    margin: 0;
}

.album-heading {
    margin-bottom: 5px;
}

.album-subheading {
    padding-top: 5px;
    margin: 0px;
}

.footer-album-details {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.footer-album-heading {
    margin-top: 30px !important;
    margin: 0px;
}

.footer-album-subheading {
    margin-top: 10px !important;
    margin: 0px;
}

.icon-dark {
    font-size: 15px;
    color: #000;
}

.icon-light {
    font-size: 17px;
    color: #fff;
}

.album-info-control {
    margin-left: 5px;
}